<h1>About Me</h1>
<center>
  <img id="fam" src="/img/fam.jpg">
</center>
<p>I am a Senior Information Technology major at Point Park University. 
    I am also a member of the women's basketball team here at Point Park. 
    I plan on continuing my education in the graduation program in the fall. 
    I will be getting my MBA in business Analytics. My bigest accomplishment 
    outside of school is being a mother to my 8 year old son. 
    Throughout time at Point Park and being a mother, 
    I have acquired a lot of great skills such as leadership, problem solving, 
    technical and analytical skills. Subsequently, I believe that I would make a 
    very valuable asset to your company.</p>

