<!doctype html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
        {{{body}}}

        <footer>
            <p>Contact information: <a href="mailto:someone@example.com"> someone@example.com</a>.</p>
        </footer> 
    </body>  
</html>