<h1>Contact Information</h1>
<center>
<div class="btn-group-vertical">
    <button type="button" class="btn btn-dark" href="spweir@pointpark.edu">Email</button>
    <button type="button" class="btn btn-dark" href="sam3weir@gmail.com">Secondary Email</button>
    <button type="button" class="btn btn-dark" href="https://www.linkedin.com/in/samantha-weir-89843758/">Linkedin</button>
</center>
</div>
